<!doctype html>
<html>

<head>
    {% block head %}{% endblock %}
    <title>{% block title %}SimplyNews{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="max-width: 800px; margin: 0 auto; padding-left: 5px; padding-right: 5px">
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>{% block footer %}{% endblock %}</footer>
</body>

</html>
